@using VMK_shop.Controllers;
@model string
<head>
    <title>@ViewData["Title"] - VMK_9PoPyM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ArticleStyle.css" />

    <style>
    </style>
</head>



@Html.ShowArticleFromDb(Model)

